.clientSide{
    .fifth{
        background-image: url("../../backgrounds/landingpage/slide.png");
        background-repeat: no-repeat;
        background-size:100% 100% ;
        height: 700px;
        margin-top: -100px;
        position: relative;
        .slider{
            background-image: url("../../backgrounds/landingpage/slide-left.png");
            width: 24%;
            height: 460px;
            position:absolute;
            left: 10%;
            top: 26%;
        }
    }

}