.firstsection{
  
    img{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 70%;
        height: 600px;
        display: block;
        float: $oposite_direction;
    }
    .right_div{
        min-height: 600px;
        width: 100%;
        background-image: url("../../backgrounds/landingpage/section1.png");
        background-repeat:no-repeat ;
        background-size: 100% 100%;
        background-position: top top;
        padding-top: 60px;
        padding-left: 28px;
        height: auto;
       
        div{
             padding: 5px;
             padding-left: 10px;
            width: 110px;
           
            margin-bottom: 35px;
            font-size: 24px;
            font-style: italic;
            font-weight: bold;
            border: solid 1px #A3560499;
            border-right: none;

        }
        p{
            
            width: 438px;
            height: 258px;
            overflow: hidden;
            font-size: 25px;
            font-weight: 500;
            color: #010101;
            &:hover{
                cursor: pointer;
                overflow: visible;
                height: auto;
            }
         
            
        }
        button{
            border: none;
            outline: none;
            background-color: #C97B5F;
           // width: 488px;
           padding: 5px 40px;
            min-height: 50px;
            margin: auto;
            margin-top: 50px;
            color: #e9dad0;
            font-size: 22px;
            font-family: 'Alegreya';
            span{
                color: #000;
                font-weight: bold;
                margin-left: 10px;
            }
            
        }
    
    }
}