.clientSide{
.firstsection{
    background-image: url("../../backgrounds/landingpage/fs.png");
    padding:100px 50px;
    // background-color: #FDF3ED;
    .row{
        position: relative;
    }
        img{
            width: 405px;
            height: 502px;
            max-width: 90%;
            display: block;
            margin:20px auto;
        }
        .in-toutch{
            position:absolute;
            bottom:50px;
            left: calc(50% - 140px);
            background-color: #FDF3ED;
            padding:15px 50px;
            text-align:center;
            font-family: Adobe Arabic;
            font-weight: bold;
            color: #000;
            div{
              font-weight: normal;
            }
        }
        a{
            text-decoration: none;
        }
        .button{
            background-color:#DCB4A7;
            color: #000;
            text-decoration: none;
            width: 307px;
            padding:25px 0;
            margin:70px  auto;
            text-align: center;
            font-weight: 500;
            &:hover{
                background-color: #fff;
                border: 2px solid #000;
            }
        
        
        }

   
    
    }
.six{
    background-color: #fff;
    background-image: url("../../backgrounds/landingpage/sec6.png");
    background-repeat: no-repeat;
    background-size:100% 100% ;

}
}
