.firstsection{
    background-image: url("../../backgrounds/landingpage/fs.png");
    padding:100px 50px;
    .row{
        position: relative;
    }
        img{
            width: 405px;
            height: 502px;
            max-width: 90%;
            display: block;
            margin:20px auto;
        }
        .in-toutch{
            position:absolute;
            bottom:50px;
            left: calc(50% - 140px);
            background-color: #FDF3ED;
            padding:15px 50px;
            text-align:center;
            font-family: Adobe Arabic;
            font-weight: bold;
            color: #000;
            div{
              font-weight: normal;
            }
        }

   
    
    }
