.products{
    
    .explore{
        width: 450px;
       text-align: center;
       padding: 15px 0;
        background-color: #A35604;
        color: #fff;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        color: #e9dad0;
        font-size: 20px;
         font-family: 'Alegreya';
         font-style: italic;
         font-weight: 500;
    }
}
.product{
   margin: auto;
   padding: 12px;
   border:  solid 1px #C97B5F;
   
   width: 90%;
   .img_div{
       position: relative;
   img{
       width: 100%;
   }
   .sale{
    position: absolute;
   top: 12px;
   left: 12px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #C97B5F47;
   padding: 10px 0 10px 7px;
   font-size: 12px;
}
}
   .product_info{
     
       padding: 20px 12px;
       font-weight: 500;
       font-size: 18px;
       .color{
           color: #C94D20;
           font-size: 18px;
           font-weight: bold;
           .oposite_direction{
               float: $oposite_direction;
               color: #A35604;
               span{
                   position: relative;
                   .add{
                       font-size: 10px;
                       position: absolute;
                       top: -5.2px;
                       left: 10px;
                      
                   }
               }
           }

       }
       
   }
}