.clientSide{
    .third{
        background-color: #FDF3ED;
        width: 100%;
        min-height: 500px;
        padding-top: 100px;
        padding-bottom: 250px;
        text-align: center;
        .title{
         font-family: Adobe Caslon Pro;
         font-size: 41px;
         font-weight: 500;
         margin-bottom: 30px;
        
        }
        .boxs{
            font-family: Adobe Arabic;
            .box{
                width: 241px;
                height: 380px;
                margin:30px auto;
                img{
                    width:calc( 100% - 70px);
                    height: 220px;
                    margin: 35px;
                    margin-bottom: 20px;
                }
                .box-title{
                   font-size: 19px;
                   font-weight: 500;

                }
                .box-secondLine{
                    font-size: 18px;
                    font-style: italic;
                }
            }
        }

    
    }
}