.clientSide{
  .carousel{

    .carousel-indicators{
    
    
  
    [data-bs-target]{
      width: 7px;
     height: 7px;
     border-radius: 50%;
 
     
     
    }
    
    .active{
      width: 23px;
      border-radius: 70%;
    
     
  }

  }
  .carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
  }
}
}