.dashbord-side
{.add-question{
    .input-div {
        input{
            width: 100%;
         
        }
        .priority{
            width:100%;
            margin:0 1%;
            display: inline-block;
        }
    }
    .small-input{
        width:30%;
        
        
    }
    .big-input{
        width: 68%;
    }
}}