.add-question{
    .input-div {
        input{
            width: 68%;
         
        }
        .priority{
            width:30%;
            margin:0 1%;
            display: inline-block;
        }
    }
}