.dashbord-side{.box{
    margin-left: 300px;
    margin-top: 70px;
    padding-bottom: 40px;
    .opacity{
       // padding:0;
    }
    @media screen and (max-width: 1078px)  {
       
        margin-left: 20px;
         
     }
     
    .title-text{
        font-size:36px;
        font-weight:bold ;
        margin-left: 10px;
        .prodcts-num{
            color:#FFA200;
            font-size: 30px;
            margin-left:20px;
            span{
                font-size: 16px;

            }
        }
    }
    .icon{
        vertical-align:text-bottom;
    }
    .table-box{
        background-color:#fff;
        width: 95%;
        min-height: 390px;
        margin-top: 39px;
        box-shadow: 0px 3px 6px #272D3B33;
        border-radius: 20px;
        .show-products{
            font-size: 18px;
            cursor: pointer;
            &:hover{
                color: #a9a9a9;
            }
        }
        .single-product{
            width:100%;
            display: inline-block;
           margin-top: -70px;
           max-height: 600px;
           overflow: auto;
        
             table{
             
                .close{
                    position: absolute;
                    right: -35px;
                    top: 0px;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover{
                        color: #a9a9a9;
                    }
                
                }
                th{
                    color: #a9a9a9;
                }
             }
            span{
            
                display: inline-block;
                margin: auto;
                width: 25%;
                overflow: hidden;
            }
            .color{
             width:22px !important;
            }
         }
        
        @media screen and (max-width: 1210px)  {
            width:100%;
           
            overflow-x: scroll;

            
        }

        .big-sizes{
            @media screen and (max-width: 500px)  {
                display:none            
            }

        }
        .small-sizes{
            display:none;
            @media screen and (max-width: 500px)  {
                display:block;            
            }

        }
    
       
    }
    .no-butons{
        padding-top:1px;
    }
    .check{
       
        font-size: 24px;
        cursor: pointer;
        display: inline-block;
        color: gray;
        margin-right: 15px;
    }
    .checked{
        color: #00CCF2;
    }
    .nospace{
        text-align:left;
    }
    .alert{
        width: 95%;
        color: red;
        background-color: #fff;
        text-align: center;
        
        
    }
}
.collections{
    .box-title{
        display:inline-block;
        padding: 36px;
        font-size: 18px;
        font-weight: 700;
    }
    table{
        margin-top:0;
        color: #707070;
        tr{
            border: none;
        }
        .head{
            border-bottom: solid 1px #0000001A;
            border-top: solid 1px #0000001A;
           
          th{  padding:30px 0;
               font-weight: 500;
        }
        }
        .align_dir{
            // text-align: left;
            img{
             width: 45px;
             height: 45px;
             border-radius:10px;
         }
        }
    }
}
.address{
    margin-left:290px;
    @media screen and (max-width: 1078px)  {
       
        margin-left: 50px;
         
     }
  
}}