.clientSide{
    .contact-section{
        margin: 50px 20px;
        .way{
            margin: 0 20px;
            .icon{
                vertical-align: text-bottom;
                margin:0 5px;
            }
        }
        a{
            color: #000;
            text-decoration: none;
        }
    }
    .call{
        font-family: Montserrat;
        z-index: 99;
        position: relative;
         .opacity{
             background-color: rgba(0, 0, 0,0.5);
             position: fixed;
             // width: calc(100% + 370px);
             width:100vW;
             height: 100%;
             top: 0;
             left: 0;
             // left: -370px;

             
         }
         .content{
            max-height: 98vh !important;
            overflow-y: auto;
            background-color: #FDF3ED;
            width:500PX;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
           
            left: calc(50% - 250px);
         
            padding:40px 20px;
            max-width:90vw;
               .title{
                  text-align: center;
                  font-weight: bold;
                  margin-bottom:30px;
                  font-size: 24px;
               }
                .phone{
                    background-color:#fff;
                    padding:10px 30px;
                    border-radius: 34px;
                    max-width: 70%;
                    margin:auto;
                    margin-bottom: 20px;
                    .oposite{
                        padding: 0;
                        cursor: pointer;
                        color:#BB5D51;
                    }
                }
        }
        
    }

}