.fav{
    padding-top: 100px;
    background-image: url("../backgrounds/RepeatGrid.png");
    background-repeat: repeat;
    background-size: cover;
   
    .title{
        margin: auto;
        margin-bottom: 50px;
        font-size: 34px;
        font-family: Alegreya;
        font-style: italic;
        font-weight: bold;
        position: relative;
        width: 255px;
        text-align: center;
        .line{
            height: 1.5px;
            width: 117px;
            background-color: #A35604;
            margin-bottom: 30px;
        }
        .right{
           position: absolute;
           right: 0;
        }
    }
    .recommended{
        margin-top: 150px;
        .title{
            width: auto;
        }
    }
}