.clientSide{
    .feedback{
        width:80% !important;
        text-align: center;
         padding-top: 50px !important;
        .feedback-row{
            margin: 35px 0;
            .question{
                margin: 20px 0;
                font-family: Adobe Arabic;
                font-size: 22px;
                font-weight: bold;
            }
            .answer{
                width:90%;
                padding:7px 0;
                border-radius: 34px;
                margin: auto;
                background-color: #fff;
                cursor: pointer;
                font-family: Segoe UI;
                font-weight: 500;
            }
            .active{
                background-color: #FFC2AF;
            }

        }
        .submit{
            margin:70px auto;
        }
        
    }
}