.clientSide{.profile{
    margin-top: 100px;
    background-image: url("../backgrounds/RepeatGrid.png");
    background-repeat: repeat;
    background-size: cover;

    .first_col{
        margin: auto;
        max-width: 95%;
        font-size: 20px;
        font-family: Alegreya;
        font-weight: bold;
        font-style: italic;
        width: 507px;
        min-height: 534px;
        box-shadow: 0px 3px 6px #00000029;
        padding: 20px;
        background-color: #fff;
        margin-bottom: 30px;
    .img{
        direction: ltr;
        display: block;
        margin: auto;
        text-align: center;
        padding-top: 20px;
        position: relative;
        

    img {   height: 185px;
        width: 185px;
        border-radius: 50%;
       
       
      
    }
    span{
       vertical-align: top;
       background-color:#929090;
       padding: 0 5px 5px 0;
       border-radius: 10px;
       color: #fff;
       margin-left: -18px;
       font-size: 20px;
       cursor: pointer;
    }
    .name{
        margin-top: 10px;
       
    }
     
    }
    .main_info{
        color: #545252;
        margin-top: 20px;
        padding: 20px 10px;
        border-bottom: solid 1px #00000029;
        border-top: solid 1px #00000029;
       
        div{
            margin-top: 10px;
        }
        .icon{
            float: $oposite_direction;
        
    }
}
    .icon{
       
        vertical-align: top;
        color: #A35604;
        cursor: pointer;
    }
    .account_actions{
        padding: 20px 10px;
        .reset{
         
            a{ 
                color: #000;
               }
        }
        .icon{
            color: #000;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
        }
    }
}
.second_col{
    margin: auto;
    padding: 20px 0px;
    max-width: 95%;
    width: 507px;
    min-height: 534px;
    height: auto;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    font-family: Alegreya;
    font-weight: bold;
    font-style: italic;
    .orders{
       .header{ 
           border-bottom: solid 1px #000;
           padding-bottom: 20px;
        .your_orders, .your_points{
            display: inline-block;
            width: 50%;
            text-align: center;
            font-size: 22px;
            a{
                color: #545252B0;
                text-decoration: none;
                span{
                    margin: 3px;
                    margin-bottom: 7;
                   
                }
                .bag{
                    font-size: 20px;
                    vertical-align: text-bottom;
                }

            }

        }
        .your_active{      
            a{
                color: #000;
                
            }
        }





   
  
    }  
      .points{
      text-align: center;
        .your_points{
            padding: 30px;
            padding-left: 0;
            border-bottom: solid 1px #00000029;
            text-align: left;
            width: 85%;
            margin: auto;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            span{
                font-size: 16px;
            }
            .yellow{
              color: #E39800;
              font-size: 24px;
              margin-left: 5px;
            }

        }
        .buymore{
          //  width: 260px;
            max-width: 90%;
            margin: auto;
            .title{
                font-size: 23px;
                margin-bottom: 10px;
            }
            .details{
                color: #545252;
                font-size: 18px;
                font-weight: 500;
                .my-anchor-css-class{
                    color: #000;
                    text-decoration: none;
                }
            }
            
        }
    }     
    .satue{
        .orders_status_header{
            padding: 20px 0;
            border-bottom: solid 1px #00000029;
            font-size: 18px;
        .section{
            display: inline-block;
            width: calc(100%/3);
            text-align: center;
            display: inline-block;
            color: #545252B0;
            cursor: pointer;
            span{
                font-size: 16px;
            }
        }
        .active{
            color: #545252;
        }
    }
   
    .order_details{
        margin: 20px 0 5px 0;
        background-color: #C97B5F33;
        padding-bottom: 25px;
        .one_order{
            padding: 20px 30px;
            border-bottom: solid 1px #00000029;
            width: 100%;
          img{
            width: 84px;
            height: 92px;
            vertical-align: baseline;
            @media screen and (max-width: 380px) {
               display: block;
                margin: auto;
               
                }
          }
          .order_info{
              display: inline-block;
              margin: 0 15px;
              font-size: 18px;
            .title{
                color: #545252B0;;
            }
              .price{
                  color: #000;
                  .number{
                      font-size: 16px;
                      margin: 5px;
                      width: 5px;
                      color: #545252B0;
                  }
                  .items{
                      color: #545252B0;
                  }

              }
              .color{
                 color: #545252B0;
                 span{
                     background-color: #7F9CAF;
                     width: 17px;
                     height: 16px;
                     margin-left: 5px;
                     display: inline-block;
                     vertical-align: text-bottom;
                     
                 }
              }
              .size{
                color: #545252B0;
              }
              @media screen and (max-width: 380px) {
                display: block;
                margin: auto;
               margin-top: 5px;
               
                }
          }
        }
    }

    .order_details_prev{
        padding-bottom: 40 px;
    }
}


    }
    .orderes_info{
      
        padding-bottom: 20px;
        font-size: 16px;
        .payment{
            font-size: 18px;
            display: inline-block;
            padding: 10px 30px;

        }
        .status{
            padding: 10px 30px;
            display: inline-block;
            float: $oposite_direction;
            color: #00970A;
           .pinding{
               color: #D8AD01;

           }
           .Refused{
               color:#F94200 ;}
            .date{
                float: $oposite_direction; 
                color: #545252A3;
                margin-top: 20px;
            }
        }
        a{
            text-decoration: none;
        }
        .return{
            text-align: center;
            color: #C94D20;
            background-color: #FCD1A3;
            border-radius: 7px;
        }
        .reason{
            border-top: solid 1px #00000029;
           padding: 20px 5%;
            margin: auto;
            font-size: 18px;
            font-weight: 550;
        }
        .content-css{
            width: 100%;
           
           
        }
        .my-anchor-css-class{
            color: gray;
            text-decoration: none;
        }
        .made_on{
            color: #545252A3;
            margin: auto;
            text-align: center;
        }
    }


}
.edite_box{
    width: 669px;
    min-height: 582px;
    max-width: 90%;
    background-color:#FDF3ED;
    opacity: 111;
    margin: auto;
  //  margin-top: 5%;
    text-align: center;
    padding: 75px 10px;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    .inputs{
    input{
        width: 382px;
        height: 46px;
        margin-top: 26px;
        border-radius: 34px;
        padding-left: 25px;
        max-width: 90%;
        background-color: #fff;
        color: #000;
    }
    .input-div{
        position: relative;
        width: 382px;
        max-width: 80%;
        margin: auto;

        .mark{
            color: #b41212;
            position: absolute;
            right: 31px;
            top: 30px;
            background-color: transparent;
            cursor: pointer;
        }
        .error-text{
            text-align: left;
            margin:5px 30px;
        }

    }
}
    
    .butn{
        border: none;
        border-radius: 0;
        padding: 0;
        color: #000;
        background-color: #DCB4A7;
        width: 122px;
        height: 44px;
        font-family: Alegreya;
       font-weight: 700;
       font-size: 18px;
       margin-top: 50px;
       
    }
    .discard{
        background-color: #54525259;
        box-shadow: none;
        margin-top: 10px;
    }
    .flash-msgs{
        left: 0;
    }
}





}}