.clientSide{.productPage{
    margin-top: 70px;

    img{
        height: 437px;
        max-width: 90%;
        display: block;
        margin: auto;
    }
    .product-info{
        margin-top: 20px;
        .text{
            text-align: center;
            max-width: 97%;
            font-size: 18px;
            font-weight: 500;
            margin: 10px 0;
        }
        .property{
            max-width: 70%;
            margin: 20px auto;
            .toggle{
                width: 100%;
                padding:5px 10px;
                border: solid 1px #5452522E;
                color: #888282;
                cursor: pointer;
                .oposite{
                    padding:0;
                }
                .change-num{
                    display: inline-block;
                    border: solid 1px #888282;
                    padding:0 5px;
                    margin: 0 10px;
                    cursor: pointer;
                }
            
            }
            .num{
                padding:6px 0;
                text-align: center;
                
            }
            .list{
                width: 100%;
                background-color: #f3f3f3;
                .option{
                    padding:5px 10px;
                    border-bottom: solid 1px #fff;
                    
                    label{
                        padding:5px;
                      
                    }
                    .color{
                        width:22px;
                        height:22px;
                        margin:0 10px;
                        border-radius: 50%;
                        background-color: #000;
                        vertical-align: text-bottom;
                    }
                }
            }
        

        }
        .action{
            width:70%;
            text-align: center;
            margin:20px auto;
            background-color: #DCB4A7;
            padding:10px 0;
            font-weight: bold;
            cursor: pointer;
            .icon{
                margin-right: 10px;
            }
        }
        .fav{
            background-color: inherit;
            border: solid 1px #010101;
        }
    }
    .paragraphs{
        margin: 20px 5px;
        .header{
            border-bottom: solid 1px #b7b6b6;
            margin: 20px ;
            span{
                display: inline-block;
                padding:0 10px ;
                height:100%;
                cursor: pointer;
                
            }
            .active{
                border-bottom:solid 3px #000;
            }
        }
        .row{
            padding:20px 50px;
            .title{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content-css{
                font-size: 16px;
                color: #545252D8;
            }
            .more{
                color: #545252D8;
            }
        }
    }
 
  
}}