.clientSide{.search-page{
margin-top: 50px;
    .search_input{
        position: relative;
        width: 40%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 30px;
        input{
            width: 100%;
            height: 62px;
            padding-left: 30px;
            font-size: 20px;
            font-weight: 500;
            font-family: Alegreya;
        }
        span{
            position: absolute;
            right:25px;
            top: 10px;
             color: #fff;
             font-size: 24px;
             cursor: pointer;
        }

    }
    .filter{
        cursor: pointer;
        width: 85%;
        margin:auto;
        max-width: 500px;
        padding-left: 16px;
        font-size: 18px;
        font-weight: bold;
    }
   .products{
   
  


   }
   .pagination{
    display: flex;
    .ch-page{
        flex-grow: 1;
        text-align: center;
    }
    .space{
        flex-grow: 8;
    }
   }
   

}
//comon in fav &  search pages 
//collections names 
.collections{
 padding-bottom:75px;
 padding-left: 10px;
 .collection-name{
    padding:  25px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
 }

}
.search{
    float: right;
    // position: relative;
    
    input{
        background-color: #fff;
        box-shadow: 0px 3px 6px #0000001C;
        width: 380px;
        height: 62px;
        margin-right: 25px;
        margin-top: -15px;
        padding: 20px;
        color: #0000001C !important;
       
    }
    ::placeholder{
        color: rgb(158, 158, 158);
    }
    .icon{
        position: absolute;
        right: 40px ;
        color: #C7AAA8;
    }
 
}
.category{
    padding:5px 10px ;
    margin: 0 10px;
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    display: inline-block;
    .close{
        float: right;
        margin-left:5px;
    }
}
.filter-products{
    .section{
        width: 80%;
        margin:auto;
        .right{
            float: right;
        }
        .toggle{
            border-bottom: 1px solid #b8b8b8;
            padding:10px 5px;
            cursor: pointer;
            
        }
        .selectLine{
            margin:5px 0;
            font-size: 18px;
            input{
                margin-right:5px;
            }
        }
    }
}


}