.clientSide{.static{
    max-width: 900px !important;
   width: 80% ;
    padding:50px 30px !important;
    padding-bottom: 100px !important;
    text-align: center;
.text_static{
    

       font-weight: 450;
    font-style: italic;
    
        font-size:22px ;
    
}
}}