.loading{
  
    height:calc(100vh - 200px);
    background-color:#F6F6F6;;
    
    img{
       display: block;
     
      height: 50%;
  


      position: absolute;
      margin: auto;
      top: 50%;
      left: calc(50% - 100px);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
     
    }
}