.loading{
     width: 100%;
    height:calc(100vh - 200px);
    background-color:#F6F6F6;;
    
    img{
       display: block;
     
      height: 50%;
  
     width: 200px;
     height: 200px;
     
      position: absolute;
      margin: auto;
      top: 50%;
      left: calc(50% - 100px);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      @media screen and (max-width: 1165px)  {
        position:relative;
      
        margin: auto;
        top: 0;
        left:0;
        -ms-transform:none;
        transform:none;
     
      }
      @media screen and (max-height:340px)  {
        position:relative;
      
        margin: auto;
        top: 0;
        left:0;
        -ms-transform:none;
        transform:none;
     
      }
     
    }
}
.clientloading{
  position: absolute;
  top: 0;
  height: 100vh;
  background:#fff;
}