.oposite{
    float: right;
    padding: 20px;
    display: inline-block;
    button{
        height: 40px;
        border: none;
        outline: none;
        color: #fff;
        background-color:#00CCF2;
        margin:5px;
        padding: 0 28px;
        border-radius: 20px;
        font-weight: 500;
       
    }
}
